{% if messages %}
<div class="space-y-2 p-4 fixed top-5 right-5 z-50">
    {% for message in messages %}
        <div class="alert {{ message.tags }} p-2 border rounded-md relative">
            <p class="text-sm">{{ message }}</p>
            <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
        </div>
    {% endfor %}
</div>
{% endif %}


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const messages = document.querySelectorAll(".alert");
        messages.forEach((message) => {
            setTimeout(() => {
                message.style.opacity = "0";
                setTimeout(() => message.remove(), 500); // Remove após animação de opacidade
            }, 5000); // 5 segundos antes de começar a desaparecer
        });
    });
</script>

<style>

    .alert {
        display: flex;  /* Usando Flexbox para alinhamento horizontal */
        justify-content: flex-start;  /* Coloca a mensagem à esquerda */
        align-items: center;  /* Alinha os itens verticalmente no centro */
        background-color: #f0f0f0;  /* Cor de fundo padrão */
        border-color: #ccc;  /* Cor da borda */
        padding: 10px;  /* Espaçamento interno */
        border-radius: 8px;  /* Bordas arredondadas */
        margin-bottom: 10px;  /* Espaçamento entre as mensagens */
        position: relative;  /* Definido para o botão absoluto */
    }
    
    .alert.success {
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    
    .alert.warning {
        background-color: #fff3cd;
        border-color: #ffeeba;
    }
    
    .alert.error {
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    
    .close-btn {
        background: transparent;  /* Sem fundo no botão */
        border: none;  /* Remove a borda do botão */
        font-size: 20px;  /* Tamanho do 'x' */
        cursor: pointer;  /* Indica que é clicável */
        color: #333;  /* Cor do 'x' */
        padding: 0;  /* Remove o padding do botão */
        line-height: 1;  /* Alinha verticalmente o 'x' */
        position: absolute;  /* Posiciona o botão no canto direito */
        top: 50%;  /* Centraliza verticalmente o 'x' */
        right: 10px;  /* Coloca o 'x' no extremo direito */
        transform: translateY(-50%);  /* Ajuste para centralizar verticalmente */
    }
    

</style>