{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert 
                {% if 'success' in message.tags %}alert-success{% endif %}
                {% if 'error' in message.tags %}alert-error{% endif %}
                {% if 'info' in message.tags %}alert-info{% endif %}
                {% if 'warning' in message.tags %}alert-warning{% endif %}
            ">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const messages = document.querySelectorAll(".alert");
        messages.forEach((message) => {
            setTimeout(() => {
                message.style.opacity = "0";
                setTimeout(() => message.remove(), 500); // Remove após animação de opacidade
            }, 5000); // 5 segundos antes de começar a desaparecer
        });
    });
</script>

<style>

    .alert {
        display: flex;  /* Usando Flexbox para alinhamento horizontal */
        justify-content: flex-start;  /* Coloca a mensagem à esquerda */
        align-items: center;  /* Alinha os itens verticalmente no centro */
        background-color: #f0f0f0;  /* Cor de fundo padrão */
        border-color: #ccc;  /* Cor da borda */
        padding: 10px;  /* Espaçamento interno */
        border-radius: 8px;  /* Bordas arredondadas */
        margin-bottom: 10px;  /* Espaçamento entre as mensagens */
        position: relative;  /* Definido para o botão absoluto */
    }
    
        /* Estilos para mensagens de sucesso */
    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    /* Estilos para mensagens de erro */
    .alert-error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    /* Estilos para mensagens de informação */
    .alert-info {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }

    /* Estilos para mensagens de aviso */
    .alert-warning {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
}
    

</style>