{% load static %}

<body style="font-family: serif; font-size: 18px"> 
    <div class="jumbotron rounded bg-light text-center" style="padding: 10px">
        <h4 style="font-family: serif"> Painel Administrador</h4>
        <div class="container" style="display: flex; justify-content: center; align-items: center;">
            <div style="padding-left: 10px">
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'post-create' %}" style="font-family: serif">Meu Perfil</a>
            </div>
            <div style="padding-left: 10px">
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'post-create' %}" style="font-family: serif">Novo Post</a>
            </div>
            <div style="padding-left: 10px">
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'post-create' %}" style="font-family: serif">Configurações</a>
            </div>
        </div>
    </div>
</body>
