{% load static %}

<!-- Ícone para abrir/fechar o menu -->
<div class="menu-icon" onclick="toggleMenu()" aria-label="Abrir menu">&#9776;</div>

<!-- Menu lateral -->
<div class="sidebar" id="sidebar">
    <ul class="menu-list">
        <li><a href="{% url 'pages_ciencia' %}" onclick="toggleMenu()">Ciência</a></li>
        <li><a href="{% url 'pages_cultura' %}" onclick="toggleMenu()">Cultura</a></li>
        <li><a href="{% url 'pages_design' %}" onclick="toggleMenu()">Design</a></li>
        <li><a href="{% url 'pages_educacao' %}" onclick="toggleMenu()">Educação</a></li>
        <li><a href="{% url 'pages_entretenimento' %}" onclick="toggleMenu()">Entretenimento</a></li>
        <li><a href="{% url 'pages_politica' %}" onclick="toggleMenu()">Política</a></li>
        <li><a href="{% url 'pages_saude' %}" onclick="toggleMenu()">Saúde</a></li>
        <li><a href="{% url 'pages_tecnologia' %}" onclick="toggleMenu()">Tecnologia</a></li>
        <li><a href="#sobre-nos" onclick="toggleMenu()">Sobre Nós</a></li>
        <li><a href="#contato" onclick="toggleMenu()">Contato</a></li>
        
        <!-- Item para is_staff -->
        {% if user.is_staff %}
            <li class="configurations"><a href="{% url 'settings_tags' %}" onclick="toggleMenu()">Configurações</a></li>
        {% endif %}
    </ul>
</div>

<style>
    /* Estilos para o ícone do menu */
    .menu-icon {
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1010; /* Z-index mais alto que o menu */
    }

    /* Estilos do menu lateral */
    .sidebar {
        height: 100%;
        width: 0; /* Começa fechado */
        position: fixed;
        top: 0;
        left: 0;
        background-color: #333;
        overflow-x: hidden;
        transition: width 0.3s; /* Suaviza a abertura e fechamento */
        padding-top: 60px;
        z-index: 1000; /* Z-index alto para sobrepor outros elementos */
    }

    /* Estilos para os itens do menu */
    .sidebar .menu-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar .menu-list li {
        padding: 10px 20px;
        text-align: left;
    }

    .sidebar .menu-list li a {
        color: #fff;
        text-decoration: none;
        display: block;
    }

    .sidebar .menu-list li a:hover {
        background-color: #575757;
    }

    /* Estilos para o item Configurações fixo no canto inferior */
    .configurations {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: left;
    }

    .configurations a {
        color: #fff;
    }
</style>

<script>
    function toggleMenu() {
        var sidebar = document.getElementById("sidebar");
        if (sidebar.style.width === "250px") {
            sidebar.style.width = "0";
        } else {
            sidebar.style.width = "250px";
        }
    }
</script>
