{% extends 'base.html' %}

{% block title %}Detalhes Postagem{% endblock %}

{% block content %}
	<div class="text-center">
		<h1>{{post.title}}</h1>
		<p>{{post.create_at}}</p> 

		<div class="image-container" style="border-bottom: 30px; padding-bottom: 20px">
			<img src="{{post.image.url}}" width="400" alt="{{post.title}}">
		</div>
		
		<p>{{post.description}}</p>  
		<p><strong>Author:</strong> {{post.author}}</p>
		
		<a class="btn btn-info" href="{% url 'post-update' post.id %}">Atualizar</a>
		<a class="btn btn-danger" href="{% url 'post-delete' post.id %}">Deletar</a>

	</div>
{% endblock content %}