{% extends 'base.html' %}
{% block title %}Postagem{% endblock %}
{% block content %}  

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1>{% if request.path == '/post-create' %}Criar Postagem{% else %}Atualizar Post{% endif %}</h1>
        
        <form method="post" 
              action="{% if post %}{% url 'post-update' post.id %}{% else %}{% url 'post-create' %}{% endif %}" 
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }} 
            <button class="btn btn-success" type="submit">
                {% if post %}Atualizar{% else %}Criar{% endif %}
            </button>
        </form>
    </div>
</div>


{% endblock content %}

{% block extra_js %}
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('id_description'); // Substitua 'id_description' pelo ID do campo de descrição
    </script>
{% endblock %}
